<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Web Hello Petstore</display-name>

    <!-- Servlet Configuration -->
    <servlet>
        <servlet-name>HelloPetstore</servlet-name>
        <display-name>HelloPetstoreServlet</display-name>
        <servlet-class>HelloPetstoreServlet</servlet-class>
    </servlet>

    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>HelloPetstore</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

</web-app>