<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Petstore Web</display-name>

    <!-- Servlet Configuration -->
    <servlet>
        <servlet-name>CreateCustomer</servlet-name>
        <display-name>CreateCustomerServlet</display-name>
        <servlet-class>com.yaps.petstore.web.servlet.CreateCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <display-name>ErrorServlet</display-name>
        <servlet-class>com.yaps.petstore.web.servlet.ErrorServlet</servlet-class>
    </servlet>

    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>CreateCustomer</servlet-name>
        <url-pattern>/createcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <!-- Welcome Page -->
    <welcome-file-list>
        <welcome-file>createcustomer.html</welcome-file>
    </welcome-file-list>

</web-app>